:root {
    --background: #eae9fd;
    --background2: #000000;
    --foreground: #0e0e0e;
    --foreground2: #0b0b0b;
    --foreground3: #000000;
    --menu: rgba(209, 207, 255, 0.31);
    --menu2: #f2f1ff;
}