:root {
    --background: #eae9fd;
    --background1: var(--background);
    --background2: #ffffff;
    --background3: #dfdfdf;
    --background4: #cacaca;
    --foreground: #0e0e0e;
    --foreground2: #0b0b0b;
    --foreground3: #000000;
    --foreground4: rgba(0, 0, 0, 0.5);
    --menu: rgba(209, 207, 255, 0.31);
    --menu2: #f2f1ff;

    --card: #eceaff;
    --link: #001c60;
    --link2: #0029ff;

    --highlight: #000000;
    --accent: #8732ec;
    --accent2: #a573e1;
}