body {
    color: var(--foreground) !important;
    display: flex;
    background: none !important;

    * {
        transition: all 0.25s ease !important;
    }

    .cover {
        position: fixed;
        background: var(--background2);
        height: 3.1rem;
        width: 1.25rem;
        z-index: 11;
        display: none;
    }

    .cover.active {
        display: block;
    }

    .cover#r {
        right: 0;
        top: 0;
    }

    .cover#l {
        left: 0;
        top: 0;
    }

    #exit {
        position: absolute;
        z-index: 1000;
        right: 3.25rem;
        top: 1.5rem;

        a.button {
            position: absolute;
            font-family: OpenSans-Bold, sans-serif;
            border-radius: 0.25rem 0.5rem 0.25rem 0.25rem;
            padding: 0.25rem 0 0.25rem 0.5rem;
            margin: 0;
            min-width: 1.2rem;
            min-height: 1.5rem;
            font-size: 1rem;

            i {
                position: absolute;
                font-size: 1.5rem;
                left: 0.125rem;
            }
        }

        a.button.active {
            top: -1rem;
            right: -2.75rem;
            border-top-right-radius: 0.25rem;
        }
    }

    .md-editor {
        position: absolute;

        width: calc(100% - 2rem);
        height: calc(100% - 2rem);
        max-width: calc(100% - 2rem);
        max-height: calc(100% - 2rem);
        box-shadow: 0 0 0.4rem var(--menu);

        overflow-y: auto;
        margin: 1rem;
        border: 1px solid var(--background2);
        border-radius: 1rem;

        .CodeMirror {
            font-family: OpenSans-Regular, sans-serif;
            cursor: text;
            top: 3.025rem;
            border: none;
            height: calc(100% - 6.4rem);
            border-radius: 0 !important;
            background: var(--background3);
            color: var(--highlight);
            border-top: 1px solid var(--background2);
            border-bottom: 1px solid var(--background2);
        }

        .editor-toolbar {
            position: fixed !important;
            opacity: 1 !important;
            border: none;
            padding-left: 1.4rem;
            background: var(--menu2);
            width: calc(100% - 3.6rem - 4px);
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            box-shadow: 0 0.4rem 0.4rem #00000075;
            z-index: 10;

            a.fa {
                margin: 0 0.25rem;
                color: var(--foreground) !important;
                border: none !important;
            }

            a.fa:hover {
                background: var(--highlight);
                color: var(--background) !important;
                box-shadow: 0 0 0.4rem var(--highlight);
                z-index: 1000;
            }

            a.fa.active {
                background: var(--accent) !important;
                color: white !important;
                box-shadow: 0 0 0.4rem var(--accent);
            }
        }

        .editor-toolbar.fullscreen {
            position: absolute;
            width: 100%;
        }

        .editor-statusbar {
            position: absolute;
            background: var(--menu);
            width: calc(100% - 1rem - 4px);
            bottom: 0;
        }

        .editor-preview {
            font-family: OpenSans-Regular, sans-serif;
            background: var(--background4) !important;
            color: var(--foreground3) !important;
            border: none !important;
        }

        .editor-preview-active-side {
            font-family: OpenSans-Regular, sans-serif;
            background: var(--background4) !important;
            border: none;
            border-left: 1px solid var(--menu);
            border-bottom: 2px solid var(--menu);
            color: var(--foreground3) !important;
        }
    }

    .md-editor:hover {
        box-shadow: 0 0 0.8rem black;
    }
}

strong {
    font-family: OpenSans-Bold, sans-serif !important;
}
