<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>Start ✪ Zyneon Star</title>
        <link rel="stylesheet" href="../assets/css/shared.css">
        <link rel="stylesheet" href="../assets/css/article.css">
        <link rel="stylesheet" href="../assets/css/fonts.css">
        <link rel="stylesheet" id="css-colors">
        <script src="../assets/js/shared.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
        <link rel="icon" type="image/x-icon" href="../assets/images/favicon.ico" sizes="16x16">
    </head>
    <body>
        <div class="content">
            <div id="menu">
                <div class="title flex">
                    <div class="image">
                        <img alt="Zyneon Icon" src="../assets/images/favicon.ico">
                    </div>
                    <div class="text">
                        <h3 class="semibold">Zyneon Star</h3>
                    </div>
                </div>
                <div class="entries">
                    <div id="menu-entries" class="flex">
                        <div class="entry flex" onclick="location.href = '..';">
                            <i class='bx bxs-home'></i>
                            <h3>Start</h3>
                        </div>
                    </div>
                </div>
                <i id="menu-toggle" class='bx bx-menu' onclick="toggleMenu();"></i>
            </div>
            <div id="header">
                <div class="center">
                    <h1>HURE</h1>
                </div>
            </div>
            <div class="card" id="article">
                <h4>Hi Leute! 👋</h4>
                <p>
                    <br>Wir bei Zyneon Projects arbeiten daran, tolle Projekte zu machen, damit ihr eine gute Zeit habt. Dies gilt auch für unser neues Roleplay-Projekt: Project'Z. Ein Projekt, welches in der Moderne spielt und mit einer eigenen Karte, vielen Events, Autos, großen Gebäuden und mehr an den Start geht.
                    <br>
                    <br>Dabei haben wir jetzt allerdings ein Problem: Wir suchen Unterstützung. Falls du gerne baust oder gerne anderen Leuten hilfst, dann bewirb dich bei uns!
                    <br>
                    <br>Wir suchen momentan Builder, Moderatoren und Entwickler.
                    <br>Die Möglichkeit dich zu bewerben findest du unter <a href="https://projects.zyneonstudios.com/de/apply.html?from=self">Bewerben</a>.
                    <br>
                    <br>Wir freuen uns auf euch!
                    <br>Euer Zyneon Projects Team 🚀
                </p>
            </div>
            <div id="footer">
                <div class="copyright">
                    <p class="extra-bold-italic">
                        <i class='bx bx-loader-circle bx-spin'></i> Loading footer...
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>