<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Editor</title>
        <link rel="stylesheet" href="../assets/css/shared.css">
        <link rel="stylesheet" href="../assets/css/editor.css">
        <link rel="stylesheet" href="../assets/css/create-article.css">
        <link rel="stylesheet" href="../assets/css/fonts.css">
        <link rel="stylesheet" id="css-colors">
        <script src="../assets/js/shared.js"></script>
        <script src="../assets/js/editor.js"></script>

        <script src="../assets/js/simplemde.min.js"></script>
        <link rel="stylesheet" href="../assets/css/simplemde.min.css">
    </head>
    <body>
        <div class="md-editor">
            <label>
                <textarea id="md-editor"></textarea>
            </label>
        </div>
    </body>
</html>