<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Editor</title>
        <link rel="stylesheet" href="../assets/css/shared.css">
        <link rel="stylesheet" href="../assets/css/editor.css">
        <link rel="stylesheet" href="../assets/css/create-article.css">
        <link rel="stylesheet" href="../assets/css/fonts.css">
        <link rel="stylesheet" id="css-colors">
        <script src="../assets/js/shared.js"></script>
        <script src="../assets/js/editor.js"></script>

        <script src="../assets/js/simplemde.min.js"></script>
        <link rel="stylesheet" href="../assets/css/simplemde.min.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <div id="exit"><a class="button red hover" onclick="location.href = back">X</a></div>
        <div class="cover" id="l"></div>
        <div class="cover" id="r"></div>
        <div class="md-editor">
            <label>
                <textarea id="md-editor"></textarea>
            </label>
        </div>
    </body>
    <script>initEditor();</script>
</html>